Repository Heartless-Veteran/Project-Myriad: changes, and which Mergify rules are due for each by the changed paths.
All: Label Android-specific changes, Label documentation changes, Label build system changes, Label CI/CD changes, Label security-related changes

Label Android-specific changes:
  label:
    toggle:
    - android

Label documentation changes:
  label:
    toggle:
    - documentation

Label build system changes:
  label:
    toggle:
    - build-system

Label CI/CD changes:
  label:
    toggle:
    - ci-cd

Label security-related changes:
  label:
    toggle:
    - security

Update app/src/main/kotlin/com/heartlessveteran/myriad/ui/components/VideoPlayer.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/ui/components/VideoPlayer.kt
Due: Label Android-specific changes

Update app/src/main/kotlin/com/heartlessveteran/myriad/ui/screens/AnimeViewingScreen.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/ui/screens/AnimeViewingScreen.kt
Due: Label Android-specific changes

Update app/src/main/kotlin/com/heartlessveteran/myriad/domain/usecase/GetRecommendationsUseCase.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/domain/usecase/GetRecommendationsUseCase.kt
Due: Label Android-specific changes

Update app/src/main/kotlin/com/heartlessveteran/myriad/di/AIDiContainer.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/di/AIDiContainer.kt
Due: Label Android-specific changes

Update app/src/main/kotlin/com/heartlessveteran/myriad/ui/screens/EnhancedReadingScreenWithTranslation.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/ui/screens/EnhancedReadingScreenWithTranslation.kt
Due: Label Android-specific changes

Update app/src/main/kotlin/com/heartlessveteran/myriad/services/EnhancedAIService.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/services/EnhancedAIService.kt
Due: Label Android-specific changes

Update feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/service/BackgroundAIProcessor.kt
  feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/service/BackgroundAIProcessor.kt
Due: Label Android-specific changes

📚 Automated documentation and code quality improvements
  QUALITY_REPORT.md
  README.md
Due: none

Potential fix for code scanning alert no. 93: Workflow does not contain permissions
  .github/workflows/ci-cd.yml
Due: none

Potential fix for code scanning alert no. 91: Workflow does not contain permissions
  .github/workflows/code-quality.yml
Due: none

Update app/src/main/res/xml/network_security_config.xml
  app/src/main/res/xml/network_security_config.xml
Due: Label Android-specific changes

Update app/build.gradle.kts
  app/build.gradle.kts
Due: Label Android-specific changes

Potential fix for code scanning alert no. 105: Workflow does not contain permissions
  .github/workflows/automated-documentation-quality.yml
Due: none

Update .github/workflows/automated-documentation-quality.yml
  .github/workflows/automated-documentation-quality.yml
Due: none

Update feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/viewmodel/AIViewModel.kt
  feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/viewmodel/AIViewModel.kt
Due: Label Android-specific changes

Update feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/ui/screens/AIProviderDemoScreen.kt
  feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/ui/screens/AIProviderDemoScreen.kt
Due: Label Android-specific changes

Update feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/ui/components/AIProviderSelector.kt
  feature/ai/src/main/kotlin/com/heartlessveteran/myriad/feature/ai/ui/components/AIProviderSelector.kt
Due: Label Android-specific changes

Update app/src/main/kotlin/com/heartlessveteran/myriad/di/UseCaseModule.kt
  app/src/main/kotlin/com/heartlessveteran/myriad/di/UseCaseModule.kt
Due: Label Android-specific changes

Update scripts/security-analyzer.js
  scripts/security-analyzer.js
Due: none

Update scripts/qa-quick-test.sh
  scripts/qa-quick-test.sh
Due: none

Update scripts/qa-final-testing.sh
  scripts/qa-final-testing.sh
Due: none

Update scripts/performance-analyzer.js
  scripts/performance-analyzer.js
Due: none

Update docs/AUTOMATED_WORKFLOW.md
  docs/AUTOMATED_WORKFLOW.md
Due: Label documentation changes

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Update feature/browser/src/main/kotlin/com/heartlessveteran/myriad/feature/browser/ui/screens/MangaSourceBrowserScreen.kt
  feature/browser/src/main/kotlin/com/heartlessveteran/myriad/feature/browser/ui/screens/MangaSourceBrowserScreen.kt
Due: Label Android-specific changes

Update feature/vault/src/main/kotlin/com/heartlessveteran/myriad/feature/vault/data/download/DownloadManager.kt
  feature/vault/src/main/kotlin/com/heartlessveteran/myriad/feature/vault/data/download/DownloadManager.kt
Due: Label Android-specific changes

Update app/src/main/res/values/accessibility_themes.xml
  app/src/main/res/values/accessibility_themes.xml
Due: Label Android-specific changes

Update scripts/comprehensive-workflow-test.sh
  scripts/comprehensive-workflow-test.sh
Due: none

Update scripts/validate-ci.sh
  scripts/validate-ci.sh
Due: none

Path conditions:
  Label Android-specific changes: (any of: (?i)\.(kt|java)$) or (any of: ^app/)
  Label documentation changes: (any of: (?i)\.(md|txt|rst)$) and (any of: ^docs/)
  Label build system changes: (any of: (?i)(build\.gradle|gradle\.properties|settings\.gradle)) and (any of: ^gradle/)
  Label CI/CD changes: (any of: ^\.github/workflows/) and (any of: (?i)(\.mergify\.yml|dependabot\.yml))
  Label security-related changes: (any of: (?i)(security|vulnerabilit|auth|token|key|secret|password|encrypt)) and (any of: ^SECURITY\.md$)
